Package: jp.i4m1k0su.markasunreadalert
Name: Mark as Unread Alert
Depends: mobilesubstrate, preferenceloader, firmware (>= 8.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Display an alert before marking many messages as unread.
Maintainer: i4M1k0SU <im1k0su@me.com>
Author: i4M1k0SU <im1k0su@me.com>
Section: Tweaks
